<a href="https://colab.research.google.com/github/manpreethsai/GTD_GOOGLE_COLLAB/blob/master/FULL_DATA_GTD_THURSDAY_END.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# IMPORT BASIC LIBS

In [3]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/GLOBAL_TERRORISM.zip', encoding='ISO-8859-1')
df_ori = pd.read_csv('/content/drive/My Drive/Colab Notebooks/GLOBAL_TERRORISM.zip', encoding='ISO-8859-1')
df.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [5]:
map_cols = {
'eventid' : 'GTD_ID ',
'iyear' : 'YEAR',
'imonth' : 'MONTH', 
'iday' : 'DAY',
'extended' : 'EXTENDED_INCIDENT',  
'summary' : 'INCIDENT_SUMMARY',
'crit1' : 'INCLUSION_CRITERIA_1',
'crit2' : 'INCLUSION_CRITERIA_2', 
'crit3' : 'INCLUSION_CRITERIA_3',
'multiple' : 'PART_OF_MULTIPLE_INCIDENT',  
'related' : 'RELATED_INCIDENTS',  
'country' : 'COUNTRY_CODE',
'country_txt' : 'COUNTRY_TXT',  
'region' : 'REGION_CODE',
'region_txt' : 'REGION_TXT',  
'city' : 'CITY_NAME',  
'latitude' : 'LATITUDE',  
'longitude' : 'LONGITUDE',  
'specificity' : 'GEOCODING_SPECIFICITY',  
'attacktype1' : 'ATTACK_TYPE_CODE',
'attacktype1_txt' : 'ATTACK_TYPE_TXT',  
'success' : 'SUCCESSFUL_ATTACK', 
'suicide' : 'SUICIDE_ATTACK',  
'weaptype1' : 'WEAPON_TYPE_CODE',
'weaptype1_txt' : 'WEAPON_TYPE_TXT',  
'targtype1' : 'VICTIM_TYPE_CODE',
'targtype1_txt' : 'VICTIM_TYPE_TXT',  
'corp1' : 'NAME_OF_ENTITY',  
'natlty1' : 'NATIONALITY_OF_VICTIM_CODE',
'natlty1_txt' : 'NATIONALITY_OF_VICTIM_TXT',  
'individual' : 'UNAFFLIATED INDIVIDUALS',  
'gname' : 'PREPETRATOR GROUP NAME',  
'nperps' : 'NUMBER OF PREPETRATORS',  
'nperpcap' : 'NUMBER OF PREPETRATORS CAPTURED',
'claimed' : 'CLAIM OF RESPONSIBILTY',  
'motive' : 'MOTIVE',  
'nkill' : 'TOTAL FATALITIES',  
'nkillter' : 'PREPETRATOR FATALITIES',  
'nwound' : 'TOTAL INJURED',  
'nwoundte' : 'PREPETRATORS INJURED',  
'property' : 'PROPERTY DAMAGE',  
'propvalue' : 'VALUE OF PROPERTY DAMAGE in usd',  
'nhostkid' : 'TOTAL NO. OF HOSTAGES / VICTIM KIDNAPS',  
'ransomamt' : 'TOTAL RANSOM AMOUNT DEMANDED',  
'ransompaid' : 'TOTAL RANSOM AMOUNT PAID',  
'INT_IDEO' : 'INTERNATIONAL_IDELOGICAL', 
'doubtterr' : 'DOUBT TERRORISM PROPER',
'alternative_txt' : 'ALTERNATIVE CRIME'
}

In [6]:
df_cut = df[map_cols.keys()]
df_cut.head()

        eventid  iyear  imonth  ...  INT_IDEO  doubtterr alternative_txt
0  197000000001   1970       7  ...         0        0.0             NaN
1  197000000002   1970       0  ...         1        0.0             NaN
2  197001000001   1970       1  ...        -9        0.0             NaN
3  197001000002   1970       1  ...        -9        0.0             NaN
4  197001000003   1970       1  ...        -9       -9.0             NaN

[5 rows x 48 columns]

In [7]:
df_cut.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 48 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   eventid          181691 non-null  int64
 1   iyear            181691 non-null  int64
 2   imonth           181691 non-null  int64
 3   iday             181691 non-null  int64
 4   extended         181691 non-null  int64
 5   summary          115562 non-null  object
 6   crit1            181691 non-null  int64
 7   crit2            181691 non-null  int64
 8   crit3            181691 non-null  int64
 9   multiple         181690 non-null  float64
 10  related          25038 non-null   object
 11  country          181691 non-null  int64
 12  country_txt      181691 non-null  object
 13  region           181691 non-null  int64
 14  region_txt       181691 non-null  object
 15  city             181257 non-null  object
 16  latitude         177135 non-null  float64
 17  longitude        177134 non-null  float64
 18  specificity      181685 non-null  float64
 19  attacktype1      181691 non-null  int64
 20  attacktype1_txt  181691 non-null  object
 21  success          181691 non-null  int64
 22  suicide          181691 non-null  int64
 23  weaptype1        181691 non-null  int64
 24  weaptype1_txt    181691 non-null  object
 25  targtype1        181691 non-null  int64
 26  targtype1_txt    181691 non-null  object
 27  corp1            139141 non-null  object
 28  natlty1          180132 non-null  float64
 29  natlty1_txt      180132 non-null  object
 30  individual       181691 non-null  int64
 31  gname            181691 non-null  object
 32  nperps           110576 non-null  float64
 33  nperpcap         112202 non-null  float64
 34  claimed          115571 non-null  float64
 35  motive           50561 non-null   object
 36  nkill            171378 non-null  float64
 37  nkillter         114733 non-null  float64
 38  nwound           165380 non-null  float64
 39  nwoundte         112548 non-null  float64
 40  property         181691 non-null  int64
 41  propvalue        38989 non-null   float64
 42  nhostkid         13572 non-null   float64
 43  ransomamt        1350 non-null    float64
 44  ransompaid       774 non-null     float64
 45  INT_IDEO         181691 non-null  int64
 46  doubtterr        181690 non-null  float64
 47  alternative_txt  29011 non-null   object
dtypes: float64(17), int64(18), object(13)
memory usage: 66.5+ MB

In [8]:
df_cut['corp1']

0                                 NaN
1         Belgian Ambassador Daughter
2                    Voice of America
3                                 NaN
4                                 NaN
                     ...
181686     Somali National Army (SNA)
181687              Russian Air Force
181688                 Not Applicable
181689      Forest Department Manipur
181690                        Unknown
Name: corp1, Length: 181691, dtype: object

In [9]:
df_cut['gname'].nunique()

3537

In [10]:
df_cut.drop(columns=['summary', 'motive', 'corp1'], inplace=True)
df_cut.shape

(181691, 45)

In [11]:
df_cut.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'extended', 'crit1', 'crit2',
       'crit3', 'multiple', 'related', 'country', 'country_txt', 'region',
       'region_txt', 'city', 'latitude', 'longitude', 'specificity',
       'attacktype1', 'attacktype1_txt', 'success', 'suicide', 'weaptype1',
       'weaptype1_txt', 'targtype1', 'targtype1_txt', 'natlty1', 'natlty1_txt',
       'individual', 'gname', 'nperps', 'nperpcap', 'claimed', 'nkill',
       'nkillter', 'nwound', 'nwoundte', 'property', 'propvalue', 'nhostkid',
       'ransomamt', 'ransompaid', 'INT_IDEO', 'doubtterr', 'alternative_txt'],
      dtype='object')

In [12]:
cat_cols = ['eventid', 'iyear', 'imonth', 'iday', 'extended', 'related', 'crit1', 'crit2', 'crit3', 'multiple', 'country', 'country_txt', 'region',
       'region_txt', 'city', 'specificity',
       'attacktype1', 'attacktype1_txt', 'success', 'suicide', 'weaptype1',
       'weaptype1_txt', 'targtype1', 'targtype1_txt', 'natlty1',
       'natlty1_txt', 'individual', 'gname', 'claimed', 'property', 'INT_IDEO', 'doubtterr', 'alternative_txt' ]

In [13]:
num_cols = [each for each in df_cut.columns if each not in cat_cols]
num_cols

['latitude',
 'longitude',
 'nperps',
 'nperpcap',
 'nkill',
 'nkillter',
 'nwound',
 'nwoundte',
 'propvalue',
 'nhostkid',
 'ransomamt',
 'ransompaid']

In [14]:
len(cat_cols)+len(num_cols)

45

In [15]:
td = pd.DataFrame({})

In [16]:
for each in cat_cols:
  td[each] = df_cut[each].astype('category')

td.head()

        eventid iyear imonth iday  ... property INT_IDEO doubtterr alternative_txt
0  197000000001  1970      7    2  ...        0        0       0.0             NaN
1  197000000002  1970      0    0  ...        0        1       0.0             NaN
2  197001000001  1970      1    0  ...        0       -9       0.0             NaN
3  197001000002  1970      1    0  ...        1       -9       0.0             NaN
4  197001000003  1970      1    0  ...        1       -9      -9.0             NaN

[5 rows x 33 columns]

In [17]:
td['eventid']

0         197000000001
1         197000000002
2         197001000001
3         197001000002
4         197001000003
              ...
181686    201712310022
181687    201712310029
181688    201712310030
181689    201712310031
181690    201712310032
Name: eventid, Length: 181691, dtype: category
Categories (181691, int64): [197000000001, 197000000002, 197001000001, 197001000002, ...,
                             201712310029, 201712310030, 201712310031, 201712310032]

In [18]:
type(td['eventid'][0])

numpy.int64

In [19]:
td['imonth']

0          7
1          0
2          1
3          1
4          1
          ..
181686    12
181687    12
181688    12
181689    12
181690    12
Name: imonth, Length: 181691, dtype: category
Categories (13, int64): [0, 1, 2, 3, ..., 9, 10, 11, 12]

In [20]:
type(td['imonth'][0])

numpy.int64

In [21]:
num_cols

['latitude',
 'longitude',
 'nperps',
 'nperpcap',
 'nkill',
 'nkillter',
 'nwound',
 'nwoundte',
 'propvalue',
 'nhostkid',
 'ransomamt',
 'ransompaid']

In [22]:
for each in num_cols:
  td[each] = df_cut[each].astype('float')

td.head()

        eventid iyear imonth iday  ... propvalue nhostkid ransomamt ransompaid
0  197000000001  1970      7    2  ...       NaN      NaN       NaN        NaN
1  197000000002  1970      0    0  ...       NaN      1.0  800000.0        NaN
2  197001000001  1970      1    0  ...       NaN      NaN       NaN        NaN
3  197001000002  1970      1    0  ...       NaN      NaN       NaN        NaN
4  197001000003  1970      1    0  ...       NaN      NaN       NaN        NaN

[5 rows x 45 columns]

In [23]:
td.shape

(181691, 45)

In [24]:
td['related']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
181686    NaN
181687    NaN
181688    NaN
181689    NaN
181690    NaN
Name: related, Length: 181691, dtype: category
Categories (14306, object): [197001300001, 197001300002, 197002030001, 197002030002,
                             197002060004, 197002060005, 197002060006, 197002080001, 197002080002, 197002090003, ...,
                             201712290013, 201712290014, 201712290015, 201712290022, 201712290023, 201712290024,
                             201712290031, 201712290032, 201712300005, 201712310002]

In [25]:
type(td['related'][0])

float

In [26]:
td['related'][36]

'197001300001, 197001300002'

In [27]:
type(td['related'][36])

str

In [28]:
td['related'][td['related'].notnull()]

36                               197001300001, 197001300002
37                               197001300001, 197001300002
44                               197002030001, 197002030002
45                               197002030001, 197002030002
50                 197002060004, 197002060005, 197002060006
                                ...
181648                           201712300005, 201712310002
181657    201712290009, 201712300015, 201712300016, 2017...
181658    201712290009, 201712300015, 201712300016, 2017...
181659    201712290009, 201712300015, 201712300016, 2017...
181669                           201712300005, 201712310002
Name: related, Length: 25038, dtype: category
Categories (14306, object): [197001300001, 197001300002, 197002030001, 197002030002,
                             197002060004, 197002060005, 197002060006, 197002080001, 197002080002, 197002090003, ...,
                             201712290013, 201712290014, 201712290015, 201712290022, 201712290023, 201712290024,
                             201712290031, 201712290032, 201712300005, 201712310002]

In [29]:
ids=[]
for row in td['related'][td['related'].notnull()]:
  ids = ids + row.split(',')

In [30]:
ids[0:10]

['197001300001',
 ' 197001300002',
 '197001300001',
 ' 197001300002',
 '197002030001',
 ' 197002030002',
 '197002030001',
 ' 197002030002',
 '197002060004',
 ' 197002060005']

In [31]:
ids2=[]
for each in ids:
  each = each.strip()
  ids2.append(each)

In [32]:
ids2[0:10]

['197001300001',
 '197001300002',
 '197001300001',
 '197001300002',
 '197002030001',
 '197002030002',
 '197002030001',
 '197002030002',
 '197002060004',
 '197002060005']

In [33]:
type(ids2)

list

In [34]:
type(ids2[0])

str

In [35]:
td['eventid']

0         197000000001
1         197000000002
2         197001000001
3         197001000002
4         197001000003
              ...
181686    201712310022
181687    201712310029
181688    201712310030
181689    201712310031
181690    201712310032
Name: eventid, Length: 181691, dtype: category
Categories (181691, int64): [197000000001, 197000000002, 197001000001, 197001000002, ...,
                             201712310029, 201712310030, 201712310031, 201712310032]

In [36]:
td['eventid'][0]
type(td['eventid'][0])

numpy.int64

In [37]:
td['imonth']

0          7
1          0
2          1
3          1
4          1
          ..
181686    12
181687    12
181688    12
181689    12
181690    12
Name: imonth, Length: 181691, dtype: category
Categories (13, int64): [0, 1, 2, 3, ..., 9, 10, 11, 12]

In [38]:
pd.Series(['a', 'b', 'v']).astype('category')

0    a
1    b
2    v
dtype: category
Categories (3, object): [a, b, v]

In [39]:
td.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'extended', 'related', 'crit1',
       'crit2', 'crit3', 'multiple', 'country', 'country_txt', 'region',
       'region_txt', 'city', 'specificity', 'attacktype1', 'attacktype1_txt',
       'success', 'suicide', 'weaptype1', 'weaptype1_txt', 'targtype1',
       'targtype1_txt', 'natlty1', 'natlty1_txt', 'individual', 'gname',
       'claimed', 'property', 'INT_IDEO', 'doubtterr', 'alternative_txt',
       'latitude', 'longitude', 'nperps', 'nperpcap', 'nkill', 'nkillter',
       'nwound', 'nwoundte', 'propvalue', 'nhostkid', 'ransomamt',
       'ransompaid'],
      dtype='object')

In [40]:
ids2.count(str(td['eventid'][0]))

0

In [41]:
for each in td['eventid']:
  td['related_count']=ids2.count(str(each))

In [42]:
td['related_count'].value_counts()

0    181691
Name: related_count, dtype: int64

In [43]:
td['related_count'].unique()

array([0])

# 3. REPLACE FAULTY VALUES

In [44]:
backup = td.copy(deep=True)

In [45]:
#

In [46]:
td['iday'].isnull().sum()

0

In [47]:
(td['iday']==0).value_counts()

False    180800
True        891
Name: iday, dtype: int64

In [48]:
td['iday'].replace(0, np.nan, inplace=True)

In [49]:
td['iday'].isnull().sum()

891

In [50]:
td['nperps'].isnull().sum()

71115

In [51]:
(td['nperps']==-99).value_counts()

False    99473
True     82218
Name: nperps, dtype: int64

In [52]:
td['nperps'].replace(-99, np.nan, inplace=True)

In [53]:
td['nperps'].isnull().sum()

153333

In [54]:
td['claimed'].replace(-9, np.nan, inplace=True)

In [55]:
td['property'].replace(-9, np.nan, inplace=True)

In [56]:
td['propvalue'].replace(-99, np.nan, inplace=True)

In [57]:
td['nhostkid'].replace(-99, np.nan, inplace=True)

In [58]:
td['ransomamt'].replace(-99, np.nan, inplace=True)

In [59]:
td['ransompaid'].replace(-99, np.nan, inplace=True)

In [60]:
td['INT_IDEO'].replace(-9, np.nan, inplace=True)

In [61]:
td['doubtterr'].replace(-9, np.nan, inplace=True)

In [62]:
backup.isnull().sum().sum()

1363534

In [63]:
td.isnull().sum().sum()

1606366

In [64]:
td.isnull().sum()

eventid                 0
iyear                   0
imonth                  0
iday                  891
extended                0
related            156653
crit1                   0
crit2                   0
crit3                   0
multiple                1
country                 0
country_txt             0
region                  0
region_txt              0
city                  434
specificity             6
attacktype1             0
attacktype1_txt         0
success                 0
suicide                 0
weaptype1               0
weaptype1_txt           0
targtype1               0
targtype1_txt           0
natlty1              1559
natlty1_txt          1559
individual              0
gname                   0
claimed             67594
property            21386
INT_IDEO            92659
doubtterr           13785
alternative_txt    152680
latitude             4556
longitude            4557
nperps             153333
nperpcap            69489
nkill               10313
nkillter            66958
nwound              16311
nwoundte            69143
propvalue          171315
nhostkid           169356
ransomamt          180589
ransompaid         181239
related_count           0
dtype: int64

In [65]:
len(td.index[td['doubtterr'].isnull()])

13785

In [66]:
td1 = td.drop(index = td.index[td['doubtterr'].isnull()], axis=0, inplace=False)

In [67]:
td1['doubtterr'].isnull().sum()

0

In [68]:
td1.isnull().sum().sum()

1430792

# STATISTICAL TESTS WITH NULLS

# CAT(vs) CAT

In [69]:
cat_cols

['eventid',
 'iyear',
 'imonth',
 'iday',
 'extended',
 'related',
 'crit1',
 'crit2',
 'crit3',
 'multiple',
 'country',
 'country_txt',
 'region',
 'region_txt',
 'city',
 'specificity',
 'attacktype1',
 'attacktype1_txt',
 'success',
 'suicide',
 'weaptype1',
 'weaptype1_txt',
 'targtype1',
 'targtype1_txt',
 'natlty1',
 'natlty1_txt',
 'individual',
 'gname',
 'claimed',
 'property',
 'INT_IDEO',
 'doubtterr',
 'alternative_txt']

In [70]:
import pandas      as pd
import numpy       as np
import scipy.stats as stats

# quality_array = np.array([[138, 83, 64],[64, 67, 84]])
actual_vals = pd.crosstab(index = td1[cat_cols[0]], columns = td1['doubtterr'], values=None)
# expected values table
# exp = row total*col total/grand total

chi_sq_Stat, p_value, deg_freedom, exp_freq = stats.chi2_contingency(actual_vals)

#print(actual_vals)
print('Chi-square statistic %3.5f P value %1.6f Degrees of freedom %d' %(chi_sq_Stat, p_value, deg_freedom))

Chi-square statistic 167906.00000 P value 0.498853 Degrees of freedom 167905

In [71]:
from statsmodels.stats.proportion import proportions_ztest
counts=np.array([2279,387])
obs=np.array([3545,607])
proportions_ztest(counts,obs)

(0.2524275906432048, 0.8007105762350393)

In [72]:
cat_pval = pd.DataFrame({})
col_name = []
chi_stat = []
p_values = []

In [73]:
for each in cat_cols[:-2]:
  actual_vals = pd.crosstab(index = td1[each], columns = td1['doubtterr'], values=None)
  chi_sq_Stat, p_value, deg_freedom, exp_freq = stats.chi2_contingency(actual_vals)
  col_name.append(each)
  chi_stat.append(chi_sq_Stat)
  p_values.append(p_value)
  #print('Chi-square statistic %3.5f P value %1.6f Degrees of freedom %d' %(chi_sq_Stat, p_value, deg_freedom))

In [74]:
cat_pval['col_name'] = col_name
cat_pval['chi_stat'] = chi_sq_Stat
cat_pval['p_vals'] = p_values

In [75]:
cat_pval

           col_name   chi_stat         p_vals
0           eventid  99.569756   4.988526e-01
1             iyear  99.569756   0.000000e+00
2            imonth  99.569756   1.067818e-03
3              iday  99.569756   5.517781e-04
4          extended  99.569756   1.249763e-52
5           related  99.569756   0.000000e+00
6             crit1  99.569756   0.000000e+00
7             crit2  99.569756   0.000000e+00
8             crit3  99.569756   0.000000e+00
9          multiple  99.569756  2.334324e-169
10          country  99.569756   0.000000e+00
11      country_txt  99.569756   0.000000e+00
12           region  99.569756   0.000000e+00
13       region_txt  99.569756   0.000000e+00
14             city  99.569756   0.000000e+00
15      specificity  99.569756  3.595438e-159
16      attacktype1  99.569756   0.000000e+00
17  attacktype1_txt  99.569756   0.000000e+00
18          success  99.569756   2.675940e-31
19          suicide  99.569756   3.574625e-06
20        weaptype1  99.569756   0.000000e+00
21    weaptype1_txt  99.569756   0.000000e+00
22        targtype1  99.569756   0.000000e+00
23    targtype1_txt  99.569756   0.000000e+00
24          natlty1  99.569756   0.000000e+00
25      natlty1_txt  99.569756   0.000000e+00
26       individual  99.569756   2.094948e-03
27            gname  99.569756   0.000000e+00
28          claimed  99.569756   1.732522e-45
29         property  99.569756   2.593456e-56
30         INT_IDEO  99.569756   1.893744e-23

In [76]:
cat_pval.drop(index = cat_pval.index[cat_pval['p_vals']>0.05], axis=0, inplace=True)
cat_pval

           col_name   chi_stat         p_vals
1             iyear  99.569756   0.000000e+00
2            imonth  99.569756   1.067818e-03
3              iday  99.569756   5.517781e-04
4          extended  99.569756   1.249763e-52
5           related  99.569756   0.000000e+00
6             crit1  99.569756   0.000000e+00
7             crit2  99.569756   0.000000e+00
8             crit3  99.569756   0.000000e+00
9          multiple  99.569756  2.334324e-169
10          country  99.569756   0.000000e+00
11      country_txt  99.569756   0.000000e+00
12           region  99.569756   0.000000e+00
13       region_txt  99.569756   0.000000e+00
14             city  99.569756   0.000000e+00
15      specificity  99.569756  3.595438e-159
16      attacktype1  99.569756   0.000000e+00
17  attacktype1_txt  99.569756   0.000000e+00
18          success  99.569756   2.675940e-31
19          suicide  99.569756   3.574625e-06
20        weaptype1  99.569756   0.000000e+00
21    weaptype1_txt  99.569756   0.000000e+00
22        targtype1  99.569756   0.000000e+00
23    targtype1_txt  99.569756   0.000000e+00
24          natlty1  99.569756   0.000000e+00
25      natlty1_txt  99.569756   0.000000e+00
26       individual  99.569756   2.094948e-03
27            gname  99.569756   0.000000e+00
28          claimed  99.569756   1.732522e-45
29         property  99.569756   2.593456e-56
30         INT_IDEO  99.569756   1.893744e-23

NUM (vs) CAT

In [77]:
num_cols

['latitude',
 'longitude',
 'nperps',
 'nperpcap',
 'nkill',
 'nkillter',
 'nwound',
 'nwoundte',
 'propvalue',
 'nhostkid',
 'ransomamt',
 'ransompaid']

In [78]:
td1['nkill'].isnull().sum()

9120

In [79]:
from scipy.stats import shapiro,bartlett,mannwhitneyu,f_oneway, ttest_ind
MG=td1.groupby('doubtterr')
g_0=MG.get_group(0)
g_1=MG.get_group(1)
grp_1=g_0['nkill']
grp_2=g_1['nkill']

print(shapiro(grp_1), shapiro(grp_2))

print(bartlett(grp_1, grp_2))
print(mannwhitneyu(grp_1, grp_2))
print(f_oneway(grp_1, grp_2))

print(ttest_ind(grp_1, grp_2))

(nan, 1.0) (nan, 1.0)
BartlettResult(statistic=8521.045794907646, pvalue=0.0)
MannwhitneyuResult(statistic=1604894037.0, pvalue=0.0)
F_onewayResult(statistic=nan, pvalue=nan)
Ttest_indResult(statistic=nan, pvalue=nan)

In [80]:
num_pval = pd.DataFrame({})
shap_grp1 = []
shap_grp2 = []
num_col_name = []
barlett_stat = []
manwhit_stat = []
anova_stats = []
ttest_stats = []
barlett_p_values = []
manwhit_p_values = []
anova_p_values = []
ttest_p_values = []

In [81]:
MG=td1.groupby('doubtterr')
g_0=MG.get_group(0)
g_1=MG.get_group(1)

g_0.head()

        eventid iyear imonth  ... ransomamt ransompaid related_count
0  197000000001  1970      7  ...       NaN        NaN             0
1  197000000002  1970      0  ...  800000.0        NaN             0
2  197001000001  1970      1  ...       NaN        NaN             0
3  197001000002  1970      1  ...       NaN        NaN             0
5  197001010002  1970      1  ...       NaN        NaN             0

[5 rows x 46 columns]

In [82]:
for each in num_cols:
  grp_1=g_0[each]
  grp_2=g_1[each]

  g1_shap_stat, g1_shap_p = shapiro(grp_1)
  g2_shap_stat, g2_shap_p = shapiro(grp_2)
  barr_stat, barr_p = bartlett(grp_1, grp_2)
  manw_stat, manw_p = mannwhitneyu(grp_1, grp_2)
  anova_stat, anova_p = f_oneway(grp_1, grp_2)
  ttest_stat, ttest_p = ttest_ind(grp_1, grp_2)

  shap_grp1.append(g1_shap_p)
  shap_grp2.append(g2_shap_p)
  num_col_name.append(each)
  barlett_stat.append(barr_stat)
  manwhit_stat.append(manw_stat)
  anova_stats.append(anova_stat)
  ttest_stats.append(ttest_stat)
  barlett_p_values.append(barr_p)
  manwhit_p_values.append(manw_p)
  anova_p_values.append(anova_p)
  ttest_p_values.append(ttest_p)

In [83]:
num_pval['shap_grp1'] = shap_grp1
num_pval['shap_grp2'] = shap_grp2
num_pval['num_col_name'] = num_col_name
num_pval['barlett_stat'] = barlett_stat
num_pval['manwhit_stat'] = manwhit_stat
num_pval['anova_stat'] = anova_stat
num_pval['ttest_stat'] = ttest_stat
num_pval['barlett_p_values'] = barlett_p_values
num_pval['manwhit_p_values'] = manwhit_p_values
num_pval['anova_p_values'] = anova_p_values
num_pval['ttest_p_values'] = ttest_p_values

num_pval

    shap_grp1  shap_grp2  ... anova_p_values  ttest_p_values
0         1.0        1.0  ...            NaN             NaN
1         1.0        1.0  ...            NaN             NaN
2         1.0        1.0  ...            NaN             NaN
3         1.0        1.0  ...            NaN             NaN
4         1.0        1.0  ...            NaN             NaN
5         1.0        1.0  ...            NaN             NaN
6         1.0        1.0  ...            NaN             NaN
7         1.0        1.0  ...            NaN             NaN
8         1.0        1.0  ...            NaN             NaN
9         1.0        1.0  ...            NaN             NaN
10        1.0        1.0  ...            NaN             NaN
11        1.0        1.0  ...            NaN             NaN

[12 rows x 11 columns]

In [84]:
num_pval[num_pval['barlett_p_values']<0.05]

    shap_grp1  shap_grp2  ... anova_p_values  ttest_p_values
0         1.0        1.0  ...            NaN             NaN
1         1.0        1.0  ...            NaN             NaN
2         1.0        1.0  ...            NaN             NaN
3         1.0        1.0  ...            NaN             NaN
4         1.0        1.0  ...            NaN             NaN
5         1.0        1.0  ...            NaN             NaN
6         1.0        1.0  ...            NaN             NaN
7         1.0        1.0  ...            NaN             NaN
8         1.0        1.0  ...            NaN             NaN
9         1.0        1.0  ...            NaN             NaN
10        1.0        1.0  ...            NaN             NaN
11        1.0        1.0  ...            NaN             NaN

[12 rows x 11 columns]

In [85]:
num_pval[num_pval['manwhit_p_values']<0.05]

    shap_grp1  shap_grp2  ... anova_p_values  ttest_p_values
1         1.0        1.0  ...            NaN             NaN
2         1.0        1.0  ...            NaN             NaN
3         1.0        1.0  ...            NaN             NaN
4         1.0        1.0  ...            NaN             NaN
5         1.0        1.0  ...            NaN             NaN
6         1.0        1.0  ...            NaN             NaN
7         1.0        1.0  ...            NaN             NaN
8         1.0        1.0  ...            NaN             NaN
9         1.0        1.0  ...            NaN             NaN
10        1.0        1.0  ...            NaN             NaN
11        1.0        1.0  ...            NaN             NaN

[11 rows x 11 columns]

In [86]:
td1.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'extended', 'related', 'crit1',
       'crit2', 'crit3', 'multiple', 'country', 'country_txt', 'region',
       'region_txt', 'city', 'specificity', 'attacktype1', 'attacktype1_txt',
       'success', 'suicide', 'weaptype1', 'weaptype1_txt', 'targtype1',
       'targtype1_txt', 'natlty1', 'natlty1_txt', 'individual', 'gname',
       'claimed', 'property', 'INT_IDEO', 'doubtterr', 'alternative_txt',
       'latitude', 'longitude', 'nperps', 'nperpcap', 'nkill', 'nkillter',
       'nwound', 'nwoundte', 'propvalue', 'nhostkid', 'ransomamt',
       'ransompaid', 'related_count'],
      dtype='object')

# STANDARD SCALER MAKES NO CHANGE IN SKEW

In [87]:
for col in num_cols:
  print(td1[col].skew())

-0.957207902889711
-0.8222029508306405
91.51736636931197
-6.821201958385477
52.40213239119132
42.067044462488624
168.14007932718758
50.362823418098365
70.41141640323197
54.204189571510334
22.795937512866445
19.119112570759953

In [88]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
td1_num_std=std_scaler.fit_transform(td1[num_cols])
td1_num_std=pd.DataFrame(td1_num_std, columns=num_cols)

In [89]:
for col in num_cols:
  print(td1_num_std[col].skew())

-0.9572079028897111
-0.8222029508306402
91.517366369312
-6.821201958385473
52.40213239119134
42.0670444624886
168.14007932718746
50.362823418098365
70.41141640323191
54.2041895715103
22.795937512866438
19.119112570759942

# YEO_JOHNSON ANY CHANGE IN SKEW ?

In [90]:
from sklearn.preprocessing import PowerTransformer

pt_yeo = PowerTransformer(method='yeo-johnson', copy=True)
td1_num_yeo = pt_yeo.fit_transform(td1[num_cols])
td1_num_yeo = pd.DataFrame(td1_num_yeo, columns=num_cols)
td1_num_yeo.head()

   latitude  longitude    nperps  ...  nhostkid  ransomamt  ransompaid
0 -0.444783  -1.540087       NaN  ...       NaN        NaN         NaN
1 -0.388388  -1.798341  0.378059  ... -0.988176    0.71849         NaN
2 -0.625239   2.054074       NaN  ...       NaN        NaN         NaN
3  0.833952  -0.353311       NaN  ...       NaN        NaN         NaN
4  0.765844  -1.711655       NaN  ...       NaN        NaN         NaN

[5 rows x 12 columns]

In [91]:
for col in num_cols:
  print(td1_num_yeo[col].skew())

-0.3052490621364541
-0.008477532329256326
-9.315412768977572
40.132524043835474
0.40540961113856244
2.4178253470692797
0.6478000684285133
6.558658498327278
0.17751348547476434
0.42840138338879924
-0.27071230374600325
-1.1392100965753422

# YEO_JOHNSON CHANGES THE SKEW

# CHECK FOR CORR() OF NUM_COLS AFTER YEO-TRANSFORM

In [96]:
td1_full_yeo = pd.concat([td1[cat_cols], td1_num_yeo], axis=1, join='outer')
td1_full_yeo.head()

        eventid iyear imonth iday  ... propvalue  nhostkid ransomamt ransompaid
0  197000000001  1970      7    2  ...       NaN       NaN       NaN        NaN
1  197000000002  1970      0  NaN  ...       NaN -0.988176   0.71849        NaN
2  197001000001  1970      1  NaN  ...       NaN       NaN       NaN        NaN
3  197001000002  1970      1  NaN  ...       NaN       NaN       NaN        NaN
4           NaN   NaN    NaN  NaN  ...       NaN       NaN       NaN        NaN

[5 rows x 45 columns]

In [97]:
td1.head()

        eventid iyear imonth  ... ransomamt ransompaid related_count
0  197000000001  1970      7  ...       NaN        NaN             0
1  197000000002  1970      0  ...  800000.0        NaN             0
2  197001000001  1970      1  ...       NaN        NaN             0
3  197001000002  1970      1  ...       NaN        NaN             0
5  197001010002  1970      1  ...       NaN        NaN             0

[5 rows x 46 columns]

In [98]:
num_pval_yeo = pd.DataFrame({})
shap_grp1 = []
shap_grp2 = []
num_col_name = []
barlett_stat = []
manwhit_stat = []
anova_stats = []
ttest_stats = []
barlett_p_values = []
manwhit_p_values = []
anova_p_values = []
ttest_p_values = []


MG=td1_full_yeo.groupby('doubtterr')
g_0=MG.get_group(0)
g_1=MG.get_group(1)

g_0.head()


for each in num_cols:
  grp_1=g_0[each]
  grp_2=g_1[each]

  g1_shap_stat, g1_shap_p = shapiro(grp_1)
  g2_shap_stat, g2_shap_p = shapiro(grp_2)
  barr_stat, barr_p = bartlett(grp_1, grp_2)
  manw_stat, manw_p = mannwhitneyu(grp_1, grp_2)
  anova_stat, anova_p = f_oneway(grp_1, grp_2)
  ttest_stat, ttest_p = ttest_ind(grp_1, grp_2)

  shap_grp1.append(g1_shap_p)
  shap_grp2.append(g2_shap_p)
  num_col_name.append(each)
  barlett_stat.append(barr_stat)
  manwhit_stat.append(manw_stat)
  anova_stats.append(anova_stat)
  ttest_stats.append(ttest_stat)
  barlett_p_values.append(barr_p)
  manwhit_p_values.append(manw_p)
  anova_p_values.append(anova_p)
  ttest_p_values.append(ttest_p)

num_pval_yeo['shap_grp1'] = shap_grp1
num_pval_yeo['shap_grp2'] = shap_grp2
num_pval_yeo['num_col_name'] = num_col_name
num_pval_yeo['barlett_stat'] = barlett_stat
num_pval_yeo['manwhit_stat'] = manwhit_stat
num_pval_yeo['anova_stat'] = anova_stat
num_pval_yeo['ttest_stat'] = ttest_stat
num_pval_yeo['barlett_p_values'] = barlett_p_values
num_pval_yeo['manwhit_p_values'] = manwhit_p_values
num_pval_yeo['anova_p_values'] = anova_p_values
num_pval_yeo['ttest_p_values'] = ttest_p_values

In [103]:
num_pval_yeo.iloc[:, -4:]

    barlett_p_values  manwhit_p_values  anova_p_values  ttest_p_values
0       6.736184e-25      3.542264e-03             NaN             NaN
1       6.290646e-20      2.471778e-14             NaN             NaN
2      1.805403e-141      0.000000e+00             NaN             NaN
3       3.649669e-29      1.264736e-19             NaN             NaN
4       1.111654e-01      3.524027e-10             NaN             NaN
5       9.632643e-10      1.063076e-20             NaN             NaN
6       5.689152e-01      1.880524e-01             NaN             NaN
7       1.604715e-38      9.152715e-32             NaN             NaN
8       1.363100e-91      0.000000e+00             NaN             NaN
9       5.170209e-04      0.000000e+00             NaN             NaN
10      1.197777e-16      0.000000e+00             NaN             NaN
11     3.775660e-160      0.000000e+00             NaN             NaN

In [104]:
num_pval.iloc[:, -4:]

    barlett_p_values  manwhit_p_values  anova_p_values  ttest_p_values
0       8.493039e-74      2.432580e-01             NaN             NaN
1       3.698502e-41      3.378822e-17             NaN             NaN
2       0.000000e+00      0.000000e+00             NaN             NaN
3       1.188934e-52      4.967254e-53             NaN             NaN
4       0.000000e+00      0.000000e+00             NaN             NaN
5       0.000000e+00      2.255053e-03             NaN             NaN
6       0.000000e+00     1.513437e-145             NaN             NaN
7       0.000000e+00      1.635388e-03             NaN             NaN
8       0.000000e+00      0.000000e+00             NaN             NaN
9       0.000000e+00      0.000000e+00             NaN             NaN
10      0.000000e+00      0.000000e+00             NaN             NaN
11      0.000000e+00      0.000000e+00             NaN             NaN

In [106]:
num_pval_yeo.iloc[:, -4:] > num_pval.iloc[:, -4:]

    barlett_p_values  manwhit_p_values  anova_p_values  ttest_p_values
0               True             False           False           False
1               True              True           False           False
2               True             False           False           False
3               True              True           False           False
4               True              True           False           False
5               True             False           False           False
6               True              True           False           False
7               True             False           False           False
8               True             False           False           False
9               True             False           False           False
10              True             False           False           False
11              True             False           False           False

# p_vals have been increased due to transform, which is not good

In [111]:
num_pval_yeo[num_pval_yeo['barlett_p_values']<0.05]

    shap_grp1  shap_grp2  ... anova_p_values  ttest_p_values
0         1.0        1.0  ...            NaN             NaN
1         1.0        1.0  ...            NaN             NaN
2         1.0        1.0  ...            NaN             NaN
3         1.0        1.0  ...            NaN             NaN
5         1.0        1.0  ...            NaN             NaN
7         1.0        1.0  ...            NaN             NaN
8         1.0        1.0  ...            NaN             NaN
9         1.0        1.0  ...            NaN             NaN
10        1.0        1.0  ...            NaN             NaN
11        1.0        1.0  ...            NaN             NaN

[10 rows x 11 columns]

In [112]:
num_pval_yeo[num_pval_yeo['manwhit_p_values']<0.05]

    shap_grp1  shap_grp2  ... anova_p_values  ttest_p_values
0         1.0        1.0  ...            NaN             NaN
1         1.0        1.0  ...            NaN             NaN
2         1.0        1.0  ...            NaN             NaN
3         1.0        1.0  ...            NaN             NaN
4         1.0        1.0  ...            NaN             NaN
5         1.0        1.0  ...            NaN             NaN
7         1.0        1.0  ...            NaN             NaN
8         1.0        1.0  ...            NaN             NaN
9         1.0        1.0  ...            NaN             NaN
10        1.0        1.0  ...            NaN             NaN
11        1.0        1.0  ...            NaN             NaN

[11 rows x 11 columns]

# no change in features selected

# MULTI- COLLINEARITY

In [114]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif=pd.DataFrame()
vif['VIF']=[variance_inflation_factor(td1[num_cols].values,i) for i in range(td1[num_cols].shape[1])]
vif['Feature']=td1[num_cols].columns
vif.sort_values('VIF',ascending=False)

MissingDataError: ignored

In [115]:
td1.head()

        eventid iyear imonth  ... ransomamt ransompaid related_count
0  197000000001  1970      7  ...       NaN        NaN             0
1  197000000002  1970      0  ...  800000.0        NaN             0
2  197001000001  1970      1  ...       NaN        NaN             0
3  197001000002  1970      1  ...       NaN        NaN             0
5  197001010002  1970      1  ...       NaN        NaN             0

[5 rows x 46 columns]

In [117]:
# XGBoosting 
import xgboost as xgb
model_XG=xgb.XGBClassifier()
model_XG.fit(td1.loc[:, td1.columns!='doubtterr'], td1.loc[:, 'doubtterr'])
#model_XG.score(td1_yeo, out)
#xgb_pred = model_XG.predict(df_test_pca.iloc[:, :-2])

ValueError: ignored

# multi-coll, xgb() require get_dummies()

In [122]:
td1_full_yeo[num_cols].isnull().sum()

latitude       17815
longitude      17815
nperps        155200
nperpcap       69496
nkill          22905
nkillter       67289
nwound         28731
nwoundte       69423
propvalue     172772
nhostkid      170594
ransomamt     180818
ransompaid    181289
dtype: int64

In [123]:
td1_drop_yeo = td1_full_yeo.drop(columns=['nperps', 'propvalue', 'nhostkid', 'ransomamt', 'ransompaid'], axis=1)

In [126]:
new_num_cols = [each for each in num_cols if each not in ['nperps', 'propvalue', 'nhostkid', 'ransomamt', 'ransompaid']]
new_num_cols

['latitude',
 'longitude',
 'nperpcap',
 'nkill',
 'nkillter',
 'nwound',
 'nwoundte']

In [149]:
td1_drop_yeo['doubtterr'].isnull().sum()

13785

# mis-interpretation of activities & tampers the originality of the events

In [127]:

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
td1_num_scaled=scaler.fit_transform(td1_full_yeo[new_num_cols])

        
td1_num_scaled=pd.DataFrame(td1_num_scaled, columns=new_num_cols)
td1_num_scaled.head()

   latitude  longitude  nperpcap     nkill  nkillter    nwound  nwoundte
0 -0.444783  -1.540087       NaN  0.444343       NaN -0.770908       NaN
1 -0.388388  -1.798341       NaN -0.924496       NaN -0.770908       NaN
2 -0.625239   2.054074       NaN  0.444343       NaN -0.770908       NaN
3  0.833952  -0.353311       NaN       NaN       NaN       NaN       NaN
4  0.765844  -1.711655 -5.837894 -0.924496 -0.360005 -0.770908 -0.149083

In [128]:
td1_num_scaled['latitude'].isnull().sum()

17815

In [129]:

from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=10, weights="uniform")
td1_num_nulled=imputer.fit_transform(td1_num_scaled)

td1_num_nulled=pd.DataFrame(td1_num_nulled, columns=new_num_cols)
td1_num_nulled.head()

   latitude  longitude  nperpcap     nkill  nkillter    nwound  nwoundte
0 -0.444783  -1.540087  0.074550  0.444343 -0.360005 -0.770908 -0.149083
1 -0.388388  -1.798341  0.074550 -0.924496 -0.360005 -0.770908 -0.149083
2 -0.625239   2.054074 -0.698187  0.444343  0.577422 -0.770908 -0.149083
3  0.833952  -0.353311  1.800576 -0.924496 -0.047530 -0.770908 -0.149083
4  0.765844  -1.711655 -5.837894 -0.924496 -0.360005 -0.770908 -0.149083

In [130]:
td1_num_nulled.shape

(181691, 7)

In [131]:
td1_num_nulled.to_csv('/content/drive/My Drive/Colab Notebooks/NUM_IMPUTED.csv')

In [143]:
td_new_num = td1_num_nulled.copy(deep=True)

In [145]:
td_new_num = pd.concat([td_new_num, td1['doubtterr']], join='outer', axis=1)

# STAT SIG AFTER NUM_COLS_IMPUTED

In [147]:
num_pval_yeo_nulled = pd.DataFrame({})
shap_grp1 = []
shap_grp2 = []
num_col_name = []
barlett_stat = []
manwhit_stat = []
anova_stats = []
ttest_stats = []
barlett_p_values = []
manwhit_p_values = []
anova_p_values = []
ttest_p_values = []


MG=td_new_num.groupby('doubtterr')
g_0=MG.get_group(0)
g_1=MG.get_group(1)

g_0.head()


for each in new_num_cols:
  grp_1=g_0[each]
  grp_2=g_1[each]

  g1_shap_stat, g1_shap_p = shapiro(grp_1)
  g2_shap_stat, g2_shap_p = shapiro(grp_2)
  barr_stat, barr_p = bartlett(grp_1, grp_2)
  manw_stat, manw_p = mannwhitneyu(grp_1, grp_2)
  anova_stat, anova_p = f_oneway(grp_1, grp_2)
  ttest_stat, ttest_p = ttest_ind(grp_1, grp_2)

  shap_grp1.append(g1_shap_p)
  shap_grp2.append(g2_shap_p)
  num_col_name.append(each)
  barlett_stat.append(barr_stat)
  manwhit_stat.append(manw_stat)
  anova_stats.append(anova_stat)
  ttest_stats.append(ttest_stat)
  barlett_p_values.append(barr_p)
  manwhit_p_values.append(manw_p)
  anova_p_values.append(anova_p)
  ttest_p_values.append(ttest_p)

num_pval_yeo_nulled['shap_grp1'] = shap_grp1
num_pval_yeo_nulled['shap_grp2'] = shap_grp2
num_pval_yeo_nulled['num_col_name'] = num_col_name
num_pval_yeo_nulled['barlett_stat'] = barlett_stat
num_pval_yeo_nulled['manwhit_stat'] = manwhit_stat
num_pval_yeo_nulled['anova_stat'] = anova_stat
num_pval_yeo_nulled['ttest_stat'] = ttest_stat
num_pval_yeo_nulled['barlett_p_values'] = barlett_p_values
num_pval_yeo_nulled['manwhit_p_values'] = manwhit_p_values
num_pval_yeo_nulled['anova_p_values'] = anova_p_values
num_pval_yeo_nulled['ttest_p_values'] = ttest_p_values

In [148]:
num_pval_yeo_nulled

   shap_grp1  shap_grp2  ... anova_p_values  ttest_p_values
0        0.0        0.0  ...   1.041814e-15    1.041814e-15
1        0.0        0.0  ...   1.901914e-37    1.901914e-37
2        0.0        0.0  ...   1.417813e-10    1.417813e-10
3        0.0        0.0  ...   4.295275e-01    4.295275e-01
4        0.0        0.0  ...   7.502800e-03    7.502800e-03
5        0.0        0.0  ...   1.129158e-03    1.129158e-03
6        0.0        0.0  ...   8.256981e-03    8.256981e-03

[7 rows x 11 columns]

In [ ]:
num_pval_yeo_nulled

In [133]:
td1_drop_yeo[cat_cols].isnull().sum()

eventid             13785
iyear               13785
imonth              13785
iday                14535
extended            13785
related            157600
crit1               13785
crit2               13785
crit3               13785
multiple            13786
country             13785
country_txt         13785
region              13785
region_txt          13785
city                14219
specificity         13791
attacktype1         13785
attacktype1_txt     13785
success             13785
suicide             13785
weaptype1           13785
weaptype1_txt       13785
targtype1           13785
targtype1_txt       13785
natlty1             15163
natlty1_txt         15163
individual          13785
gname               13785
claimed             67598
property            35171
INT_IDEO            93994
doubtterr           13785
alternative_txt    152680
dtype: int64

In [134]:
td1_drop_yeo['doubtterr'].notnull().sum()

167906

In [135]:
td1_drop2_yeo = td1_drop_yeo.drop(axis=0, index=td1_drop_yeo.index[td1_drop_yeo['doubtterr'].isnull()])

In [136]:
td1_drop2_yeo[cat_cols].isnull().sum()

eventid                 0
iyear                   0
imonth                  0
iday                  750
extended                0
related            143815
crit1                   0
crit2                   0
crit3                   0
multiple                1
country                 0
country_txt             0
region                  0
region_txt              0
city                  434
specificity             6
attacktype1             0
attacktype1_txt         0
success                 0
suicide                 0
weaptype1               0
weaptype1_txt           0
targtype1               0
targtype1_txt           0
natlty1              1378
natlty1_txt          1378
individual              0
gname                   0
claimed             53813
property            21386
INT_IDEO            80209
doubtterr               0
alternative_txt    138895
dtype: int64

In [138]:
td1_drop3_yeo = td1_drop2_yeo.drop(columns=['related', 'INT_IDEO', 'alternative_txt'], axis=1)

In [ ]:
new_cat_cols = [each for each in cat_cols if each not in ['related', 'INT_IDEO', 'alternative_txt']]
new_cat_cols

In [142]:
td1_drop3_yeo[new_cat_cols].isnull().sum()

eventid                0
iyear                  0
imonth                 0
iday                 750
extended               0
crit1                  0
crit2                  0
crit3                  0
multiple               1
country                0
country_txt            0
region                 0
region_txt             0
city                 434
specificity            6
attacktype1            0
attacktype1_txt        0
success                0
suicide                0
weaptype1              0
weaptype1_txt          0
targtype1              0
targtype1_txt          0
natlty1             1378
natlty1_txt         1378
individual             0
gname                  0
claimed            53813
property           21386
doubtterr              0
dtype: int64

In [150]:
td1_drop3_yeo[new_cat_cols].shape

(167906, 30)