<a href="https://colab.research.google.com/github/manpreethsai/GTD_GOOGLE_COLLAB/blob/master/FULL_DATA_GTD_wednesday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
# IMPORT BASIC LIBS

In [1]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/GLOBAL_TERRORISM.zip', encoding='ISO-8859-1')
df_ori = pd.read_csv('/content/drive/My Drive/Colab Notebooks/GLOBAL_TERRORISM.zip', encoding='ISO-8859-1')
df.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [5]:
map_cols = {
'eventid' : 'GTD_ID ',
'iyear' : 'YEAR',
'imonth' : 'MONTH', 
'iday' : 'DAY',
'extended' : 'EXTENDED_INCIDENT',  
'summary' : 'INCIDENT_SUMMARY',
'crit1' : 'INCLUSION_CRITERIA_1',
'crit2' : 'INCLUSION_CRITERIA_2', 
'crit3' : 'INCLUSION_CRITERIA_3',
'multiple' : 'PART_OF_MULTIPLE_INCIDENT',  
'related' : 'RELATED_INCIDENTS',  
'country' : 'COUNTRY_CODE',
'country_txt' : 'COUNTRY_TXT',  
'region' : 'REGION_CODE',
'region_txt' : 'REGION_TXT',  
'city' : 'CITY_NAME',  
'latitude' : 'LATITUDE',  
'longitude' : 'LONGITUDE',  
'specificity' : 'GEOCODING_SPECIFICITY',  
'attacktype1' : 'ATTACK_TYPE_CODE',
'attacktype1_txt' : 'ATTACK_TYPE_TXT',  
'success' : 'SUCCESSFUL_ATTACK', 
'suicide' : 'SUICIDE_ATTACK',  
'weaptype1' : 'WEAPON_TYPE_CODE',
'weaptype1_txt' : 'WEAPON_TYPE_TXT',  
'targtype1' : 'VICTIM_TYPE_CODE',
'targtype1_txt' : 'VICTIM_TYPE_TXT',  
'corp1' : 'NAME_OF_ENTITY',  
'natlty1' : 'NATIONALITY_OF_VICTIM_CODE',
'natlty1_txt' : 'NATIONALITY_OF_VICTIM_TXT',  
'individual' : 'UNAFFLIATED INDIVIDUALS',  
'gname' : 'PREPETRATOR GROUP NAME',  
'nperps' : 'NUMBER OF PREPETRATORS',  
'nperpcap' : 'NUMBER OF PREPETRATORS CAPTURED',
'claimed' : 'CLAIM OF RESPONSIBILTY',  
'motive' : 'MOTIVE',  
'nkill' : 'TOTAL FATALITIES',  
'nkillter' : 'PREPETRATOR FATALITIES',  
'nwound' : 'TOTAL INJURED',  
'nwoundte' : 'PREPETRATORS INJURED',  
'property' : 'PROPERTY DAMAGE',  
'propvalue' : 'VALUE OF PROPERTY DAMAGE in usd',  
'nhostkid' : 'TOTAL NO. OF HOSTAGES / VICTIM KIDNAPS',  
'ransomamt' : 'TOTAL RANSOM AMOUNT DEMANDED',  
'ransompaid' : 'TOTAL RANSOM AMOUNT PAID',  
'INT_IDEO' : 'INTERNATIONAL_IDELOGICAL', 
'doubtterr' : 'DOUBT TERRORISM PROPER',
'alternative_txt' : 'ALTERNATIVE CRIME'
}

In [6]:
df_cut = df[map_cols.keys()]
df_cut.head()

        eventid  iyear  imonth  ...  INT_IDEO  doubtterr alternative_txt
0  197000000001   1970       7  ...         0        0.0             NaN
1  197000000002   1970       0  ...         1        0.0             NaN
2  197001000001   1970       1  ...        -9        0.0             NaN
3  197001000002   1970       1  ...        -9        0.0             NaN
4  197001000003   1970       1  ...        -9       -9.0             NaN

[5 rows x 48 columns]

In [7]:
df_cut.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 48 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   eventid          181691 non-null  int64
 1   iyear            181691 non-null  int64
 2   imonth           181691 non-null  int64
 3   iday             181691 non-null  int64
 4   extended         181691 non-null  int64
 5   summary          115562 non-null  object
 6   crit1            181691 non-null  int64
 7   crit2            181691 non-null  int64
 8   crit3            181691 non-null  int64
 9   multiple         181690 non-null  float64
 10  related          25038 non-null   object
 11  country          181691 non-null  int64
 12  country_txt      181691 non-null  object
 13  region           181691 non-null  int64
 14  region_txt       181691 non-null  object
 15  city             181257 non-null  object
 16  latitude         177135 non-null  float64
 17  longitude        177134 non-null  float64
 18  specificity      181685 non-null  float64
 19  attacktype1      181691 non-null  int64
 20  attacktype1_txt  181691 non-null  object
 21  success          181691 non-null  int64
 22  suicide          181691 non-null  int64
 23  weaptype1        181691 non-null  int64
 24  weaptype1_txt    181691 non-null  object
 25  targtype1        181691 non-null  int64
 26  targtype1_txt    181691 non-null  object
 27  corp1            139141 non-null  object
 28  natlty1          180132 non-null  float64
 29  natlty1_txt      180132 non-null  object
 30  individual       181691 non-null  int64
 31  gname            181691 non-null  object
 32  nperps           110576 non-null  float64
 33  nperpcap         112202 non-null  float64
 34  claimed          115571 non-null  float64
 35  motive           50561 non-null   object
 36  nkill            171378 non-null  float64
 37  nkillter         114733 non-null  float64
 38  nwound           165380 non-null  float64
 39  nwoundte         112548 non-null  float64
 40  property         181691 non-null  int64
 41  propvalue        38989 non-null   float64
 42  nhostkid         13572 non-null   float64
 43  ransomamt        1350 non-null    float64
 44  ransompaid       774 non-null     float64
 45  INT_IDEO         181691 non-null  int64
 46  doubtterr        181690 non-null  float64
 47  alternative_txt  29011 non-null   object
dtypes: float64(17), int64(18), object(13)
memory usage: 66.5+ MB

In [8]:
df_cut['corp1']

0                                 NaN
1         Belgian Ambassador Daughter
2                    Voice of America
3                                 NaN
4                                 NaN
                     ...
181686     Somali National Army (SNA)
181687              Russian Air Force
181688                 Not Applicable
181689      Forest Department Manipur
181690                        Unknown
Name: corp1, Length: 181691, dtype: object

In [11]:
df_cut['gname'].nunique()

3537

In [14]:
df_cut.drop(columns=['summary', 'motive', 'corp1'], inplace=True)
df_cut.shape

(181691, 45)

In [119]:
df_cut.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'extended', 'crit1', 'crit2',
       'crit3', 'multiple', 'related', 'country', 'country_txt', 'region',
       'region_txt', 'city', 'latitude', 'longitude', 'specificity',
       'attacktype1', 'attacktype1_txt', 'success', 'suicide', 'weaptype1',
       'weaptype1_txt', 'targtype1', 'targtype1_txt', 'natlty1', 'natlty1_txt',
       'individual', 'gname', 'nperps', 'nperpcap', 'claimed', 'nkill',
       'nkillter', 'nwound', 'nwoundte', 'property', 'propvalue', 'nhostkid',
       'ransomamt', 'ransompaid', 'INT_IDEO', 'doubtterr', 'alternative_txt'],
      dtype='object')

In [120]:
cat_cols = ['eventid', 'iyear', 'imonth', 'iday', 'extended', 'related', 'crit1', 'crit2', 'crit3', 'multiple', 'country', 'country_txt', 'region',
       'region_txt', 'city', 'specificity',
       'attacktype1', 'attacktype1_txt', 'success', 'suicide', 'weaptype1',
       'weaptype1_txt', 'targtype1', 'targtype1_txt', 'natlty1',
       'natlty1_txt', 'individual', 'gname', 'claimed', 'property', 'INT_IDEO', 'doubtterr', 'alternative_txt' ]

In [121]:
num_cols = [each for each in df_cut.columns if each not in cat_cols]
num_cols

['latitude',
 'longitude',
 'nperps',
 'nperpcap',
 'nkill',
 'nkillter',
 'nwound',
 'nwoundte',
 'propvalue',
 'nhostkid',
 'ransomamt',
 'ransompaid']

In [125]:
len(cat_cols)+len(num_cols)

45

In [113]:
td = pd.DataFrame({})

In [269]:
for each in cat_cols:
  td[each] = df_cut[each].astype('category')

td.head()

        eventid iyear imonth  ... ransomamt ransompaid related_count
0  197000000001  1970      7  ...       NaN        NaN             0
1  197000000002  1970      0  ...  800000.0        NaN             0
2  197001000001  1970      1  ...       NaN        NaN             0
3  197001000002  1970      1  ...       NaN        NaN             0
4  197001000003  1970      1  ...       NaN        NaN             0

[5 rows x 46 columns]

In [194]:
td['eventid']

0         197000000001
1         197000000002
2         197001000001
3         197001000002
4         197001000003
              ...
181686    201712310022
181687    201712310029
181688    201712310030
181689    201712310031
181690    201712310032
Name: eventid, Length: 181691, dtype: category
Categories (181691, int64): [197000000001, 197000000002, 197001000001, 197001000002, ...,
                             201712310029, 201712310030, 201712310031, 201712310032]

In [195]:
type(td['eventid'][0])

numpy.int64

In [200]:
td['imonth']

0          7
1          0
2          1
3          1
4          1
          ..
181686    12
181687    12
181688    12
181689    12
181690    12
Name: imonth, Length: 181691, dtype: category
Categories (13, int64): [0, 1, 2, 3, ..., 9, 10, 11, 12]

In [201]:
type(td['imonth'][0])

numpy.int64

In [202]:
num_cols

['latitude',
 'longitude',
 'nperps',
 'nperpcap',
 'nkill',
 'nkillter',
 'nwound',
 'nwoundte',
 'propvalue',
 'nhostkid',
 'ransomamt',
 'ransompaid']

In [270]:
for each in num_cols:
  td[each] = df_cut[each].astype('float')

td.head()

        eventid iyear imonth  ... ransomamt ransompaid related_count
0  197000000001  1970      7  ...       NaN        NaN             0
1  197000000002  1970      0  ...  800000.0        NaN             0
2  197001000001  1970      1  ...       NaN        NaN             0
3  197001000002  1970      1  ...       NaN        NaN             0
4  197001000003  1970      1  ...       NaN        NaN             0

[5 rows x 46 columns]

In [271]:
td.shape

(181691, 46)

In [196]:
td['related']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
181686    NaN
181687    NaN
181688    NaN
181689    NaN
181690    NaN
Name: related, Length: 181691, dtype: category
Categories (14306, object): [197001300001, 197001300002, 197002030001, 197002030002,
                             197002060004, 197002060005, 197002060006, 197002080001, 197002080002, 197002090003, ...,
                             201712290013, 201712290014, 201712290015, 201712290022, 201712290023, 201712290024,
                             201712290031, 201712290032, 201712300005, 201712310002]

In [207]:
type(td['related'][0])

float

In [206]:
td['related'][36]

'197001300001, 197001300002'

In [198]:
type(td['related'][36])

str

In [199]:
td['related'][td['related'].notnull()]

36                               197001300001, 197001300002
37                               197001300001, 197001300002
44                               197002030001, 197002030002
45                               197002030001, 197002030002
50                 197002060004, 197002060005, 197002060006
                                ...
181648                           201712300005, 201712310002
181657    201712290009, 201712300015, 201712300016, 2017...
181658    201712290009, 201712300015, 201712300016, 2017...
181659    201712290009, 201712300015, 201712300016, 2017...
181669                           201712300005, 201712310002
Name: related, Length: 25038, dtype: category
Categories (14306, object): [197001300001, 197001300002, 197002030001, 197002030002,
                             197002060004, 197002060005, 197002060006, 197002080001, 197002080002, 197002090003, ...,
                             201712290013, 201712290014, 201712290015, 201712290022, 201712290023, 201712290024,
                             201712290031, 201712290032, 201712300005, 201712310002]

In [211]:
ids=[]
for row in td['related'][td['related'].notnull()]:
  ids = ids + row.split(',')

In [213]:
ids[0:10]

['197001300001',
 ' 197001300002',
 '197001300001',
 ' 197001300002',
 '197002030001',
 ' 197002030002',
 '197002030001',
 ' 197002030002',
 '197002060004',
 ' 197002060005']

In [249]:
ids2=[]
for each in ids:
  each = each.strip()
  ids2.append(each)

In [250]:
ids2[0:10]

['197001300001',
 '197001300002',
 '197001300001',
 '197001300002',
 '197002030001',
 '197002030002',
 '197002030001',
 '197002030002',
 '197002060004',
 '197002060005']

In [216]:
type(ids2)

list

In [217]:
type(ids2[0])

str

In [144]:
td['eventid']

0         197000000001
1         197000000002
2         197001000001
3         197001000002
4         197001000003
              ...
181686    201712310022
181687    201712310029
181688    201712310030
181689    201712310031
181690    201712310032
Name: eventid, Length: 181691, dtype: category
Categories (181691, int64): [197000000001, 197000000002, 197001000001, 197001000002, ...,
                             201712310029, 201712310030, 201712310031, 201712310032]

In [146]:
td['eventid'][0]
type(td['eventid'][0])

numpy.int64

In [147]:
td['imonth']

0          7
1          0
2          1
3          1
4          1
          ..
181686    12
181687    12
181688    12
181689    12
181690    12
Name: imonth, Length: 181691, dtype: category
Categories (13, int64): [0, 1, 2, 3, ..., 9, 10, 11, 12]

In [219]:
pd.Series(['a', 'b', 'v']).astype('category')

0    a
1    b
2    v
dtype: category
Categories (3, object): [a, b, v]

In [221]:
td.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'extended', 'crit1', 'crit2',
       'crit3', 'multiple', 'country', 'country_txt', 'region', 'region_txt',
       'city', 'specificity', 'attacktype1', 'attacktype1_txt', 'success',
       'suicide', 'weaptype1', 'weaptype1_txt', 'targtype1', 'targtype1_txt',
       'natlty1', 'natlty1_txt', 'individual', 'gname', 'claimed', 'property',
       'INT_IDEO', 'doubtterr', 'alternative_txt', 'related', 'latitude',
       'longitude', 'nperps', 'nperpcap', 'nkill', 'nkillter', 'nwound',
       'nwoundte', 'propvalue', 'nhostkid', 'ransomamt', 'ransompaid'],
      dtype='object')

In [251]:
ids2.count(str(td['eventid'][0]))

0

In [252]:
for each in td['eventid']:
  td['related_count']=ids2.count(str(each))

In [254]:
td['related_count'].value_counts()

0    181691
Name: related_count, dtype: int64

In [256]:
td['related_count'].unique()

array([0])

# 3. REPLACE FAULTY VALUES

In [272]:
backup = td.copy(deep=True)

In [ ]:
#

In [273]:
td['iday'].isnull().sum()

0

In [274]:
(td['iday']==0).value_counts()

False    180800
True        891
Name: iday, dtype: int64

In [275]:
td['iday'].replace(0, np.nan, inplace=True)

In [276]:
td['iday'].isnull().sum()

891

In [277]:
td['nperps'].isnull().sum()

71115

In [278]:
(td['nperps']==-99).value_counts()

False    99473
True     82218
Name: nperps, dtype: int64

In [279]:
td['nperps'].replace(-99, np.nan, inplace=True)

In [280]:
td['nperps'].isnull().sum()

153333

In [281]:
td['claimed'].replace(-9, np.nan, inplace=True)

In [282]:
td['property'].replace(-9, np.nan, inplace=True)

In [283]:
td['propvalue'].replace(-99, np.nan, inplace=True)

In [284]:
td['nhostkid'].replace(-99, np.nan, inplace=True)

In [285]:
td['ransomamt'].replace(-99, np.nan, inplace=True)

In [286]:
td['ransompaid'].replace(-99, np.nan, inplace=True)

In [287]:
td['INT_IDEO'].replace(-9, np.nan, inplace=True)

In [300]:
td['doubtterr'].replace(-9, np.nan, inplace=True)

In [294]:
backup.isnull().sum().sum()

1363534

In [301]:
td.isnull().sum().sum()

1606366

In [304]:
td.isnull().sum()

eventid                 0
iyear                   0
imonth                  0
iday                  891
extended                0
crit1                   0
crit2                   0
crit3                   0
multiple                1
country                 0
country_txt             0
region                  0
region_txt              0
city                  434
specificity             6
attacktype1             0
attacktype1_txt         0
success                 0
suicide                 0
weaptype1               0
weaptype1_txt           0
targtype1               0
targtype1_txt           0
natlty1              1559
natlty1_txt          1559
individual              0
gname                   0
claimed             67594
property            21386
INT_IDEO            92659
doubtterr           13785
alternative_txt    152680
related            156653
latitude             4556
longitude            4557
nperps             153333
nperpcap            69489
nkill               10313
nkillter            66958
nwound              16311
nwoundte            69143
propvalue          171315
nhostkid           169356
ransomamt          180589
ransompaid         181239
related_count           0
dtype: int64

In [305]:
len(td.index[td['doubtterr'].isnull()])

13785

In [306]:
td1 = td.drop(index = td.index[td['doubtterr'].isnull()], axis=0, inplace=False)

In [307]:
td1['doubtterr'].isnull().sum()

0

In [308]:
td1.isnull().sum().sum()

1430792

# STATISTICAL TESTS WITH NULLS

# NUM (vs) CAT

In [315]:
cat_cols

['eventid',
 'iyear',
 'imonth',
 'iday',
 'extended',
 'related',
 'crit1',
 'crit2',
 'crit3',
 'multiple',
 'country',
 'country_txt',
 'region',
 'region_txt',
 'city',
 'specificity',
 'attacktype1',
 'attacktype1_txt',
 'success',
 'suicide',
 'weaptype1',
 'weaptype1_txt',
 'targtype1',
 'targtype1_txt',
 'natlty1',
 'natlty1_txt',
 'individual',
 'gname',
 'claimed',
 'property',
 'INT_IDEO',
 'doubtterr',
 'alternative_txt']

In [309]:
import pandas      as pd
import numpy       as np
import scipy.stats as stats

# quality_array = np.array([[138, 83, 64],[64, 67, 84]])
actual_vals = pd.crosstab(index = td1[cat_cols[0]], columns = td1['doubtterr'], values=None)
# expected values table
# exp = row total*col total/grand total

chi_sq_Stat, p_value, deg_freedom, exp_freq = stats.chi2_contingency(actual_vals)

#print(actual_vals)
print('Chi-square statistic %3.5f P value %1.6f Degrees of freedom %d' %(chi_sq_Stat, p_value, deg_freedom))

doubtterr     0.0  1.0
eventid
197000000001    1    0
197000000002    1    0
197001000001    1    0
197001000002    1    0
197001010002    1    0
...           ...  ...
201712310022    0    1
201712310029    0    1
201712310030    1    0
201712310031    1    0
201712310032    1    0

[167906 rows x 2 columns]
Chi-square statistic 167906.00000 P value 0.498853 Degrees of freedom 167905

In [ ]:
from statsmodels.stats.proportion import proportions_ztest
counts=np.array([2279,387])
obs=np.array([3545,607])
proportions_ztest(counts,obs)

In [322]:
cat_pval = pd.DataFrame({})
col_name = []
chi_stat = []
p_values = []

In [323]:
for each in cat_cols[:-2]:
  actual_vals = pd.crosstab(index = td1[each], columns = td1['doubtterr'], values=None)
  chi_sq_Stat, p_value, deg_freedom, exp_freq = stats.chi2_contingency(actual_vals)
  col_name.append(each)
  chi_stat.append(chi_sq_Stat)
  p_values.append(p_value)
  #print('Chi-square statistic %3.5f P value %1.6f Degrees of freedom %d' %(chi_sq_Stat, p_value, deg_freedom))

In [324]:
cat_pval['col_name'] = col_name
cat_pval['chi_stat'] = chi_sq_Stat
cat_pval['p_vals'] = p_values

In [325]:
cat_pval

           col_name   chi_stat         p_vals
0           eventid  99.569756   4.988526e-01
1             iyear  99.569756   0.000000e+00
2            imonth  99.569756   1.067818e-03
3              iday  99.569756   5.517781e-04
4          extended  99.569756   1.249763e-52
5           related  99.569756   0.000000e+00
6             crit1  99.569756   0.000000e+00
7             crit2  99.569756   0.000000e+00
8             crit3  99.569756   0.000000e+00
9          multiple  99.569756  2.334324e-169
10          country  99.569756   0.000000e+00
11      country_txt  99.569756   0.000000e+00
12           region  99.569756   0.000000e+00
13       region_txt  99.569756   0.000000e+00
14             city  99.569756   0.000000e+00
15      specificity  99.569756  3.595438e-159
16      attacktype1  99.569756   0.000000e+00
17  attacktype1_txt  99.569756   0.000000e+00
18          success  99.569756   2.675940e-31
19          suicide  99.569756   3.574625e-06
20        weaptype1  99.569756   0.000000e+00
21    weaptype1_txt  99.569756   0.000000e+00
22        targtype1  99.569756   0.000000e+00
23    targtype1_txt  99.569756   0.000000e+00
24          natlty1  99.569756   0.000000e+00
25      natlty1_txt  99.569756   0.000000e+00
26       individual  99.569756   2.094948e-03
27            gname  99.569756   0.000000e+00
28          claimed  99.569756   1.732522e-45
29         property  99.569756   2.593456e-56
30         INT_IDEO  99.569756   1.893744e-23

In [326]:
cat_pval.drop(index = cat_pval.index[cat_pval['p_vals']>0.05], axis=0, inplace=True)
cat_pval

           col_name   chi_stat         p_vals
1             iyear  99.569756   0.000000e+00
2            imonth  99.569756   1.067818e-03
3              iday  99.569756   5.517781e-04
4          extended  99.569756   1.249763e-52
5           related  99.569756   0.000000e+00
6             crit1  99.569756   0.000000e+00
7             crit2  99.569756   0.000000e+00
8             crit3  99.569756   0.000000e+00
9          multiple  99.569756  2.334324e-169
10          country  99.569756   0.000000e+00
11      country_txt  99.569756   0.000000e+00
12           region  99.569756   0.000000e+00
13       region_txt  99.569756   0.000000e+00
14             city  99.569756   0.000000e+00
15      specificity  99.569756  3.595438e-159
16      attacktype1  99.569756   0.000000e+00
17  attacktype1_txt  99.569756   0.000000e+00
18          success  99.569756   2.675940e-31
19          suicide  99.569756   3.574625e-06
20        weaptype1  99.569756   0.000000e+00
21    weaptype1_txt  99.569756   0.000000e+00
22        targtype1  99.569756   0.000000e+00
23    targtype1_txt  99.569756   0.000000e+00
24          natlty1  99.569756   0.000000e+00
25      natlty1_txt  99.569756   0.000000e+00
26       individual  99.569756   2.094948e-03
27            gname  99.569756   0.000000e+00
28          claimed  99.569756   1.732522e-45
29         property  99.569756   2.593456e-56
30         INT_IDEO  99.569756   1.893744e-23

NUM (vs) CAT

In [327]:
num_cols

['latitude',
 'longitude',
 'nperps',
 'nperpcap',
 'nkill',
 'nkillter',
 'nwound',
 'nwoundte',
 'propvalue',
 'nhostkid',
 'ransomamt',
 'ransompaid']

In [332]:
td1['nkill'].isnull().sum()

9120

In [344]:
from scipy.stats import shapiro,bartlett,mannwhitneyu,f_oneway, ttest_ind
MG=td1.groupby('doubtterr')
g_0=MG.get_group(0)
g_1=MG.get_group(1)
grp_1=g_0['nkill']
grp_2=g_1['nkill']

print(shapiro(grp_1), shapiro(grp_2))

print(bartlett(grp_1, grp_2))
print(mannwhitneyu(grp_1, grp_2))
print(f_oneway(grp_1, grp_2))

print(ttest_ind(grp_1, grp_2))

(nan, 1.0) (nan, 1.0)
BartlettResult(statistic=8521.045794907646, pvalue=0.0)
MannwhitneyuResult(statistic=1604894037.0, pvalue=0.0)
F_onewayResult(statistic=nan, pvalue=nan)
Ttest_indResult(statistic=nan, pvalue=nan)

In [347]:
num_pval = pd.DataFrame({})
shap_grp1 = []
shap_grp2 = []
num_col_name = []
barlett_stat = []
manwhit_stat = []
anova_stats = []
ttest_stats = []
barlett_p_values = []
manwhit_p_values = []
anova_p_values = []
ttest_p_values = []

In [339]:
MG=td1.groupby('doubtterr')
g_0=MG.get_group(0)
g_1=MG.get_group(1)

g_0.head()

        eventid iyear imonth  ... ransomamt ransompaid related_count
0  197000000001  1970      7  ...       NaN        NaN             0
1  197000000002  1970      0  ...  800000.0        NaN             0
2  197001000001  1970      1  ...       NaN        NaN             0
3  197001000002  1970      1  ...       NaN        NaN             0
5  197001010002  1970      1  ...       NaN        NaN             0

[5 rows x 46 columns]

In [348]:
for each in num_cols:
  grp_1=g_0[each]
  grp_2=g_1[each]

  g1_shap_stat, g1_shap_p = shapiro(grp_1)
  g2_shap_stat, g2_shap_p = shapiro(grp_2)
  barr_stat, barr_p = bartlett(grp_1, grp_2)
  manw_stat, manw_p = mannwhitneyu(grp_1, grp_2)
  anova_stat, anova_p = f_oneway(grp_1, grp_2)
  ttest_stat, ttest_p = ttest_ind(grp_1, grp_2)

  shap_grp1.append(g1_shap_p)
  shap_grp2.append(g2_shap_p)
  num_col_name.append(each)
  barlett_stat.append(barr_stat)
  manwhit_stat.append(manw_stat)
  anova_stats.append(anova_stat)
  ttest_stats.append(ttest_stat)
  barlett_p_values.append(barr_p)
  manwhit_p_values.append(manw_p)
  anova_p_values.append(anova_p)
  ttest_p_values.append(ttest_p)

In [349]:
num_pval['shap_grp1'] = shap_grp1
num_pval['shap_grp2'] = shap_grp2
num_pval['num_col_name'] = num_col_name
num_pval['barlett_stat'] = barlett_stat
num_pval['manwhit_stat'] = manwhit_stat
num_pval['anova_stat'] = anova_stat
num_pval['ttest_stat'] = ttest_stat
num_pval['barlett_p_values'] = barlett_p_values
num_pval['manwhit_p_values'] = manwhit_p_values
num_pval['anova_p_values'] = anova_p_values
num_pval['ttest_p_values'] = ttest_p_values

num_pval

    shap_grp1  shap_grp2  ... anova_p_values  ttest_p_values
0         1.0        1.0  ...            NaN             NaN
1         1.0        1.0  ...            NaN             NaN
2         1.0        1.0  ...            NaN             NaN
3         1.0        1.0  ...            NaN             NaN
4         1.0        1.0  ...            NaN             NaN
5         1.0        1.0  ...            NaN             NaN
6         1.0        1.0  ...            NaN             NaN
7         1.0        1.0  ...            NaN             NaN
8         1.0        1.0  ...            NaN             NaN
9         1.0        1.0  ...            NaN             NaN
10        1.0        1.0  ...            NaN             NaN
11        1.0        1.0  ...            NaN             NaN

[12 rows x 11 columns]

In [350]:
num_pval[num_pval['barlett_p_values']<0.05]

    shap_grp1  shap_grp2  ... anova_p_values  ttest_p_values
0         1.0        1.0  ...            NaN             NaN
1         1.0        1.0  ...            NaN             NaN
2         1.0        1.0  ...            NaN             NaN
3         1.0        1.0  ...            NaN             NaN
4         1.0        1.0  ...            NaN             NaN
5         1.0        1.0  ...            NaN             NaN
6         1.0        1.0  ...            NaN             NaN
7         1.0        1.0  ...            NaN             NaN
8         1.0        1.0  ...            NaN             NaN
9         1.0        1.0  ...            NaN             NaN
10        1.0        1.0  ...            NaN             NaN
11        1.0        1.0  ...            NaN             NaN

[12 rows x 11 columns]

In [351]:
num_pval[num_pval['manwhit_p_values']<0.05]

    shap_grp1  shap_grp2  ... anova_p_values  ttest_p_values
1         1.0        1.0  ...            NaN             NaN
2         1.0        1.0  ...            NaN             NaN
3         1.0        1.0  ...            NaN             NaN
4         1.0        1.0  ...            NaN             NaN
5         1.0        1.0  ...            NaN             NaN
6         1.0        1.0  ...            NaN             NaN
7         1.0        1.0  ...            NaN             NaN
8         1.0        1.0  ...            NaN             NaN
9         1.0        1.0  ...            NaN             NaN
10        1.0        1.0  ...            NaN             NaN
11        1.0        1.0  ...            NaN             NaN

[11 rows x 11 columns]

In [352]:
td1.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'extended', 'crit1', 'crit2',
       'crit3', 'multiple', 'country', 'country_txt', 'region', 'region_txt',
       'city', 'specificity', 'attacktype1', 'attacktype1_txt', 'success',
       'suicide', 'weaptype1', 'weaptype1_txt', 'targtype1', 'targtype1_txt',
       'natlty1', 'natlty1_txt', 'individual', 'gname', 'claimed', 'property',
       'INT_IDEO', 'doubtterr', 'alternative_txt', 'related', 'latitude',
       'longitude', 'nperps', 'nperpcap', 'nkill', 'nkillter', 'nwound',
       'nwoundte', 'propvalue', 'nhostkid', 'ransomamt', 'ransompaid',
       'related_count'],
      dtype='object')

# STANDARD SCALER MAKES NO CHANGE IN SKEW

In [353]:
for col in num_cols:
  print(td1[col].skew())

-0.957207902889711
-0.8222029508306405
91.51736636931197
-6.821201958385477
52.40213239119132
42.067044462488624
168.14007932718758
50.362823418098365
70.41141640323197
54.204189571510334
22.795937512866445
19.119112570759953

In [354]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
td1_num_std=std_scaler.fit_transform(td1[num_cols])
td1_num_std=pd.DataFrame(td1_num_std, columns=num_cols)

In [355]:
for col in num_cols:
  print(td1_num_std[col].skew())

-0.9572079028897111
-0.8222029508306402
91.517366369312
-6.821201958385473
52.40213239119134
42.0670444624886
168.14007932718746
50.362823418098365
70.41141640323191
54.2041895715103
22.795937512866438
19.119112570759942

# YEO_JOHNSON ANY CHANGE IN SKEW ?

In [359]:
from sklearn.preprocessing import PowerTransformer

pt_yeo = PowerTransformer(method='yeo-johnson', copy=True)
td1_num_yeo = pt_yeo.fit_transform(td1[num_cols])
td1_num_yeo = pd.DataFrame(td1_num_yeo, columns=num_cols)
td1_num_yeo.head()

   latitude  longitude    nperps  ...  nhostkid  ransomamt  ransompaid
0 -0.444783  -1.540087       NaN  ...       NaN        NaN         NaN
1 -0.388388  -1.798341  0.378059  ... -0.988176    0.71849         NaN
2 -0.625239   2.054074       NaN  ...       NaN        NaN         NaN
3  0.833952  -0.353311       NaN  ...       NaN        NaN         NaN
4  0.765844  -1.711655       NaN  ...       NaN        NaN         NaN

[5 rows x 12 columns]

In [360]:
for col in num_cols:
  print(td1_num_yeo[col].skew())

-0.3052490621364541
-0.008477532329256326
-9.315412768977572
40.132524043835474
0.40540961113856244
2.4178253470692797
0.6478000684285133
6.558658498327278
0.17751348547476434
0.42840138338879924
-0.27071230374600325
-1.1392100965753422